<br/><br/><br/><br/>

<h1 class="Title text-center">Editar Computador</h1>
<br/><br/>


<section>
  <!-- Painel -->
  <div class="panel panel-computador panel-primary">


    <!-- Formulário -->
    <form (ngSubmit)="editar()"
    name="userForm"
    #formComputador="ngForm">
    <div class="panel panel-default">
      <div class="panel-body">

       <!-- LINHA -->
       <div class="form-row clearfix">
        <div class="form-group col-md-4">
          <label for="name">Nome*</label>
          <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do computador"
            autofocus="autofocus" [(ngModel)]="computador.nome" #nome="ngModel" minlength="5" required>
          <div *ngIf="nome.errors && (nome.dirty || nome.touched)" class="alert alert-danger">
            <div [hidden]="!nome.errors.required">
              Digite o nome
            </div>
            <div [hidden]="!nome.errors.minlength">
              O nome deve conter ao menos 5 caracteres
            </div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="modelo">Modelo*</label>
          <select class="form-control" name="modelo" id="modelo" [(ngModel)]="computador.modelo" #modelo="ngModel"
            required>
            <option value="Hp">Hp</option>
            <option value="Positivo">Positivo</option>
            <option value="Lenovo">Lenovo</option>
            <option value="Elcoma">Elcoma</option>
          </select>
          <div *ngIf="modelo.errors && (modelo.dirty || modelo.touched)" class="alert alert-danger">
            <div [hidden]="!modelo.errors.required">
              Escolha um modelo
            </div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="setor">Setor*</label>

          <select [(ngModel)]="computador.idrefsetor" #idrefsetor="ngModel" name="idrefsetor" id="idrefsetor"
            class="form-control" required>
            <option *ngFor="let setor of setores" [value]="setor.id">{{ setor.nome }}</option>

          </select>
          <div *ngIf="idrefsetor.errors && (idrefsetor.dirty || idrefsetor.touched)" class="alert alert-danger">
            <div [hidden]="!idrefsetor.errors.required">
              Escolha um setor
            </div>
          </div>
        </div>
      </div>



      <!-- LINHA -->

      <div class="form-row clearfix">
        <div class="form-group col-md-4">
          <label for="gap_tomb">Tombamento*</label>
          <input type="number" class="form-control" id="gap_tomb"  name="gap_tomb"
            placeholder="(Patrimônio)" autofocus="autofocus" [(ngModel)]="computador.gap_tomb" #gap_tomb="ngModel"
            minlength="3" required>
            <div *ngIf="gap_tomb.errors && (gap_tomb.dirty || gap_tomb.touched)" class="alert alert-danger">
              <div [hidden]="!gap_tomb.errors.required">
                Digite o número do Patrimônio
              </div>
              <div [hidden]="!gap_tomb.errors.minlength">
              minimo de 3 digitos
              </div>
              </div>
           </div>



        <div class="form-group col-md-4">
          <label for="ip">IP*</label>
          <input type="text" class="form-control" id="ip" name="ip" placeholder="Ex: 192.168.102.14" 
            autofocus="autofocus" [(ngModel)]="computador.ip" #ip="ngModel" minlength="14" maxlength="14"  required>
            <div *ngIf="ip.errors && (ip.dirty || ip.touched)" class="alert alert-danger">
              <div [hidden]="!ip.errors.required">
                Digite o IP
              </div>
              <div [hidden]="!ip.errors.minlength">
                o IP deve conter 14 caracteres EX: 192.168.102.14
              </div>
              <div [hidden]="!ip.errors.maxlength">
                o IP deve conter 14 caracteres EX: 192.168.102.14
              </div>
            </div>
        </div>

       
      </div>
      <!-- LINHA -->


      <div class="form-group col-md-12 clearfix">
        <label for="descricao">Descrição*</label>
        <input type="text" class="form-control" id="descricao" name="descricao"
          placeholder="Descrição do computador" minlength="5" autofocus="autofocus"
          [(ngModel)]="computador.descricao" #descricao="ngModel" required>
          <div *ngIf="descricao.errors && (descricao.dirty || descricao.touched)" class="alert alert-danger">
            <div [hidden]="!descricao.errors.required">
              Informe uma breve descrição
            </div>
            <div [hidden]="!descricao.errors.minlength">
              Informe uma breve descrição
            </div>
            
            </div>
      </div>

  <div class="form-group text-center">
   <button type="submit" class="btn btn-success"  [disabled]="!formComputador.form.valid">Salvar</button>

 </div>
</div>
</div>


</form>
</div>
</section>

