<br/><br/><br/><br/>

<h1 class="Title text-center">Cadastrar Usuário</h1>
<br/><br/>


<section>
	<!-- Painel -->
	<div class="panel panel-usuario panel-primary">


		<!-- Formulário -->
		<form (ngSubmit)="editar()"
		name="userForm"
		#formUsuario="ngForm">
		<div class="panel panel-default">
			<div class="panel-body">

				<!-- LINHA -->
				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="nome" >Nome*</label>
						<input type="text" class="form-control" id="nome" name="nome"
						placeholder="Nome do usuario" minlength="5" 
						autofocus="autofocus" [(ngModel)]="usuario.nome" #nome="ngModel" required>

					</div>

					<div class="form-group col-md-4">
						<label for="email">E-mail*</label>
						<input type="email" class="form-control" id="email" name="email" minlength="5" 
						placeholder="E-mail" required ng-minlength="4"
						ng-maxlength="10" autofocus="autofocus" [(ngModel)]="usuario.email" #email="ngModel" required>

					</div>


					<div class="form-group col-md-4">
						<label for="telefone">Telefone*</label>
						<input type="number" class="form-control" id="telefone" name="telefone" minlength="5" 
						placeholder="Telefone" required ng-minlength="7"
						ng-maxlength="10" autofocus="autofocus" [(ngModel)]="usuario.telefone" #telefone="ngModel" required>

					</div>


				</div>   



				<!-- LINHA -->

				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="cargo">Cargo*</label>
						<select class="form-control" name="cargo" id="cargo"
						[(ngModel)]="usuario.cargo" #cargo="ngModel" required>
						<option value="Diretor">Diretor</option>
						<option value="Supervisor">Supervisor</option>
						<option value="Gerente">Gerente</option>
					</select>
				</div>



				<div class="form-group col-md-4">
					<label for="matricula">Matrícula*</label>
					<input type="number" class="form-control" id="matricula" name="matricula" 
					placeholder="Matrícula" required autofocus="autofocus" [(ngModel)]="usuario.matricula" #matricula="ngModel" required>

				</div>


				
			</div >

			<div class="form-row">
				

				<div class="form-group col-md-4">
					<label for="senha">Senha de Acesso*</label>
					<input type="password" class="form-control" id="senha" name="senha" 
					placeholder="Senha" required autofocus="autofocus" [(ngModel)]="usuario.senha" #senha="ngModel" required>

				</div>


				<div class="form-group col-md-4">
					<label for="confirmsenha">Confirmar senha*</label>
					<input type="password" class="form-control" id="confirmsenha" name="confirmsenha" placeholder="Matrícula" required autofocus="autofocus" [(ngModel)]="confirmsenha" required>

				</div>
				<span *ngIf="confirmsenha != usuario.senha" class="error"> A senha não confere com a confirmação </span>



			</div>
			<!-- LINHA -->

		</div>
		<div class="form-group text-center">
			<button type="submit" class="btn btn-success"  [disabled]="!formUsuario.form.valid">Salvar</button>

		</div>
	</div>


</form>
</div>
</section>

