.Btnew {

position:absolute;
top:70px;
right:50px;
margin:0px;
padding:0px;


}
.table{
    background-color: steelblue;
}
.input-group{
position:absolute;
padding-right: 25%;
padding-left: 25%;
top: 80px;
}