
<br/><br/>
<body class="">

  
  <div class="container">

   
    <div class="jumbotron my-4">
      <h1 class="display-2 text-center">Bem vindo a sua interface de gerenciamento!</h1>
      <br/><br/>
      <p class="lead">Gerencie todos os equipamentos do seu estabelecimento, com a facilidade de apenas alguns cliques.</p>
    </div>
    
  </div>
 
 <br/> <br/> <br/> <br/> <br/>
  
  <div class="container-fluid"><br>
   <p class="text-center">GPM &copy; Todos os direitos</p>
  </div>

</body>

