
<br/><br/><br/>
<body>

    <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-2 text-center">Bem vindo a sua interface de gerenciamento!</h1>
      <br/><br/>
      <p class="lead">Gerencie todos os equipamentos do seu estabelecimento, com a facilidade de apenas alguns cliques.</p>
      </header>

 

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; GPM</p>
    </div>
    <!-- /.container -->
  </footer>

 

</body>

